<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- For all tests to pass, account should be granted full access -->
    <add key="auth_subdomain" value="harvestdotnet"/>
    <add key="auth_username" value="ithielnor@gmail.com"/>
    <add key="auth_password" value="password"/>

    <!-- These IDs are unique to harvestdotnet.harvestapp.com. Some tests will fail if you test against a different account -->
    <add key="Test_ClientId" value="2953852"/>
    <add key="Test_ContactId" value="3436185"/>
    <add key="Test_ExpenseCategoryId" value="2262358"/>
    <add key="Test_ExpenseId" value="6425551"/>
    <add key="Test_InvoiceCategoryId" value="800166"/>
    <add key="Test_InvoiceId" value="5725477"/>
    <add key="Test_PaymentId" value="4270344"/>
    <add key="Test_ProjectId" value="6710595"/>
    <add key="Test_ProjectId2" value="6710543"/>
    <add key="Test_TaskAssignmentId" value="76121786"/>
    <add key="Test_TaskId" value="9201520"/>
    <add key="Test_TaskId2" value="3592471"/>
    <add key="Test_UserAssignmentId" value="53412217"/>
    <add key="Test_UserId" value="862551"/>
    <add key="Test_TimesheetId" value="740360150"/>
    
    <add key="MainApiToken" value="1553055.at.4i2-d_I7X2PmYT81pccOrC4WwZwJqGwZmryQsRlYexiCM4_FyHbnU3P1wiu1Y8gSEBAh3KLp4Bk6BFi6uV1VrQ"/>
    <add key="MainClientId" value="pvUgpvtUeSpJD84RB3597tm9"/>
    <add key="MainAccountId" value="908781"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
